/*!
 * domloader.css
 * v2.2
 * https://github.com/tmplink/domloader/
 * 
 * Licensed GPLv3 © TMPLINK STUDIO
 */
body{
    visibility:hidden;
}
#domloader_loading_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 15000;
}
#domloader_loading_show{
    color: black;
    z-index: 15001;
    width: 200px; 
    height: 200px;
    position: absolute; 
    left: 0;
    top: 0;
    right: 0;
    bottom: 0; 
    margin: auto;
    display:none;
    text-align: center;
}
.domloader_progress {
    width: 180px;
    background: #ddd;
    margin-right:auto;
    margin-left:auto;
}
.domloader_curRate {
    width: 0%;
    background: #f30;
}
.domloader_round_conner {
    height: 10px;
    border-radius: 15px;
}